*.tar.gz

*.exe
src/bolt
src/boltd
src/bolt-cli
src/test/test_bolt
src/qt/test/test_bolt-qt

Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
src/bolt-config.h
src/bolt-config.h.in
src/build-aux/
src/stamp-h1

*.tar.gz

share/setup.nsi
share/qt/Info.plist

src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp

.deps
dirstamp
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.o-*
*.patch
.bolt


# Compilation and Qt preprocessor part
*.qm
Makefile
bolt-qt
BOLT-Qt.app

# Unit-tests
Makefile.test
bolt-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile

*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

# Resources cpp
qrc_*.cpp


linux-coverage-build
linux-build
win32-build
qa/pull-tester/run-bitcoind-for-test.sh
qa/pull-tester/build-tests.sh

!src/leveldb*/Makefile

.cproject
.project

